<div class="drugs-list">
  <ul style="list-style: none">
    {{#each drugs as |drug|}}
    <li>
      <div class="one-drug">
          <img src="{{drug.image}}" alt="Фото Лекарства">
          <h2 class="drug-name"><a href="drugs/{{drug._id}}">{{drug.name}}</a></h2>
        <small>Категория:
          {{#if drug.category}} <!--Если в ключе "категория" что-то есть, то выводит название категории-->
            <a href="categories/{{drug.category._id}}/drugs">{{drug.category.name}}</a>
          {{else}}  <!--Если там ничего нет, то выводит следующую надпись: {...} -->
            Не относится ни к одной из существующих категорий
          {{/if}}
        </small>
          <h4>Цена: {{drug.price}} руб.</h4>
      </div>
    </li>
    {{/each}}
  </ul>
</div>